<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>62CF8FB9-1C97-448D-B647-622BCB4624FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0801E80-0E6E-4B7F-B65B-86C8B9DBD0D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A98ECA44-4BFD-4DBC-A022-C703DE048E7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0801E80-0E6E-4B7F-B65B-86C8B9DBD0D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zh0ng</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>豆瓣热映电影</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0801E80-0E6E-4B7F-B65B-86C8B9DBD0D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mov</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>搜索中...</string>
				<key>script</key>
				<string>
from views import *

print(query_in_theaters('{query}'))
</string>
				<key>subtext</key>
				<string>请输入影片名</string>
				<key>title</key>
				<string>搜索豆瓣热映电影</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>62CF8FB9-1C97-448D-B647-622BCB4624FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>movc</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>搜索中...</string>
				<key>script</key>
				<string>
from views import *

print(query_coming_soon('{query}'))
</string>
				<key>subtext</key>
				<string>请输入影片名</string>
				<key>title</key>
				<string>搜索豆瓣即将上映电影</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A98ECA44-4BFD-4DBC-A022-C703DE048E7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>62CF8FB9-1C97-448D-B647-622BCB4624FB</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A98ECA44-4BFD-4DBC-A022-C703DE048E7D</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D0801E80-0E6E-4B7F-B65B-86C8B9DBD0D4</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
